.features
	background: white
	padding: 10px
	border-radius: 3px
	img
		margin: 7px
		
	
	@for $i from 1 through 12
		img:nth-child(#{$i})
			$second: $i/10
			animation-delay: $second + s
			-moz-animation-delay: $second + s
			-webkit-animation-delay: $second + s
