/* line 1, ../../sass/pages/home.sass */
.features {
  background: white;
  padding: 10px;
  border-radius: 3px; }
  /* line 5, ../../sass/pages/home.sass */
  .features img {
    margin: 7px; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(1) {
    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(2) {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(3) {
    animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(4) {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(5) {
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(6) {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(7) {
    animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(8) {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(9) {
    animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(10) {
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(11) {
    animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s; }
  /* line 10, ../../sass/pages/home.sass */
  .features img:nth-child(12) {
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s; }
